{
    "jsc": {
        "target": "es3",
        "parser": {
            "syntax": "typescript",
        }
    },
    "minify": false,
    "isModule": true,
    "sourceMaps": false,
    "inlineSourcesContent": false
}